<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm_v2_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.54684458207296E-17 1.33749962353521E-17 0.0106432976711327"
        rpy="0 0 0" />
      <mass
        value="0.485324616622544"/>
      <inertia
        ixx="0.000983593189232418"
        ixy="9.92192563448707E-20"
        ixz="3.66091038164887E-20"
        iyy="0.000983593189232418"
        iyz="2.72686335947338E-20"
        izz="0.00182829474382764" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="low_link_1">
    <inertial>
      <origin
        xyz="-0.00216127407243594 -2.55597707139429E-09 0.0619021996213665"
        rpy="0 0 0" />
      <mass
        value="0.331748728549887" />
      <inertia
        ixx="0.000222513336706059"
        ixy="7.06673152971397E-11"
        ixz="2.2773656482742E-05"
        iyy="0.000293275789814223"
        iyz="1.14271346819044E-11"
        izz="0.000227891108518889" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="continuous">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="low_link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="low_link_2">
    <inertial>
      <origin
        xyz="-1.17961196366423E-16 -0.0324999999999992 0.0909999946980245"
        rpy="0 0 0" />
      <mass
        value="0.110507990252836" />
      <inertia
        ixx="0.000352705009978739"
        ixy="-2.51195392602786E-13"
        ixz="-1.11095495705584E-12"
        iyy="0.00034441807987338"
        iyz="6.97125551308556E-21"
        izz="1.70763527628551E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.850980392156863 0.850980392156863 0.850980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="low_joint_A"
    type="revolute">
    <origin
      xyz="0.0175 0.0325 0.083"
      rpy="0 0 0" />
    <parent
      link="low_link_1" />
    <child
      link="low_link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="low_link_4">
    <inertial>
      <origin
        xyz="0.00962110681621155 -0.0325 0.0267725934392554"
        rpy="0 0 0" />
      <mass
        value="0.121253793382564" />
      <inertia
        ixx="3.6960102936586E-05"
        ixy="1.8772864001891E-21"
        ixz="-9.69924813425358E-06"
        iyy="8.87901604619433E-05"
        iyz="-3.345945577777E-22"
        izz="5.63585992050934E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="low_joint_C"
    type="revolute">
    <origin
      xyz="0 0 0.182"
      rpy="0 0 0" />
    <parent
      link="low_link_2" />
    <child
      link="low_link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
    <mimic
      joint="low_joint_A"
      multiplier="-1"
      offset="0" />
  </joint>
  <link
    name="high_link_2">
    <inertial>
      <origin
        xyz="0.0909999946980258 -0.0325000000000001 -8.88178419700125E-16"
        rpy="0 0 0" />
      <mass
        value="0.110507990252836" />
      <inertia
        ixx="1.70763527628551E-05"
        ixy="-4.48083084541976E-20"
        ixz="1.11095504075214E-12"
        iyy="0.00034441807987338"
        iyz="2.51195397421982E-13"
        izz="0.000352705009978739" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/high_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.850980392156863 0.850980392156863 0.850980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/high_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="high_joint_A"
    type="revolute">
    <origin
      xyz="0.035355 0 0.014645"
      rpy="0 0 0" />
    <parent
      link="low_link_4" />
    <child
      link="high_link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="high_link_4">
    <inertial>
      <origin
        xyz="0.0300863035652909 -0.0325 0.0200000000000004"
        rpy="0 0 0" />
      <mass
        value="0.175480660661564" />
      <inertia
        ixx="6.05047056603455E-05"
        ixy="-8.93619759353287E-20"
        ixz="-1.17623077313507E-19"
        iyy="0.000143534859572765"
        iyz="5.50293993977071E-20"
        izz="0.000103215341759094" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/high_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/high_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="high_joint_C"
    type="revolute">
    <origin
      xyz="0.182 0 0"
      rpy="0 0 0" />
    <parent
      link="high_link_2" />
    <child
      link="high_link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
    <mimic
      joint="high_joint_A"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="wrist_link_1">
    <inertial>
      <origin
        xyz="0.0288597903243406 -0.0325000000000001 -8.32667268468867E-15"
        rpy="0 0 0" />
      <mass
        value="0.132446543816184" />
      <inertia
        ixx="5.39586231779543E-05"
        ixy="-5.00578254357345E-21"
        ixz="-2.41420833353202E-19"
        iyy="5.99244035497373E-05"
        iyz="6.55928376360493E-22"
        izz="5.99485243200493E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/wrist_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/wrist_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_1"
    type="revolute">
    <origin
      xyz="0.05 0 0.02"
      rpy="0 0 0" />
    <parent
      link="high_link_4" />
    <child
      link="wrist_link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_link_2">
    <inertial>
      <origin
        xyz="0.0413433295596581 -3.38124027754054E-18 -3.33066907387547E-16"
        rpy="0 0 0" />
      <mass
        value="0.110570086754039" />
      <inertia
        ixx="4.35735393679915E-05"
        ixy="5.66933751140274E-21"
        ixz="6.52188172332341E-20"
        iyy="6.5472700546997E-05"
        iyz="-5.66414751723181E-22"
        izz="6.52299662450051E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/wrist_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/wrist_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_2"
    type="continuous">
    <origin
      xyz="0.043 -0.0325 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_1" />
    <child
      link="wrist_link_2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wrist_link_3">
    <inertial>
      <origin
        xyz="0.0255430098672023 -0.0267190168700954 0.0181515674579176"
        rpy="0 0 0" />
      <mass
        value="0.297698869950329" />
      <inertia
        ixx="0.000183860157167126"
        ixy="8.06121376547965E-07"
        ixz="9.37483085406243E-06"
        iyy="0.000327159951719634"
        iyz="-1.33960976798099E-07"
        izz="0.000181373534168027" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/wrist_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/wrist_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist_joint_3"
    type="revolute">
    <origin
      xyz="0.0631 0.029478 0.013686"
      rpy="0 0 0" />
    <parent
      link="wrist_link_2" />
    <child
      link="wrist_link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tip_link">
    <inertial>
      <origin
        xyz="-0.00250000000000933 -1.03116137532602E-16 1.33226762955019E-14"
        rpy="0 0 0" />
      <mass
        value="0.0195" />
      <inertia
        ixx="1.2715625E-05"
        ixy="-3.46309420484919E-23"
        ixz="1.90899608409567E-38"
        iyy="5.89062500000002E-06"
        iyz="-2.58439464851749E-21"
        izz="6.90625000000001E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/tip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/tip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tip_fixed_joint"
    type="fixed">
    <origin
      xyz="0.0600000000000021 -0.0324999999999982 0"
      rpy="0 0 0" />
    <parent
      link="wrist_link_3" />
    <child
      link="tip_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="high_link_3">
    <inertial>
      <origin
        xyz="0.0910000053019717 -0.0175000000000007 1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.110507990252835" />
      <inertia
        ixx="1.70763527628551E-05"
        ixy="-3.1534639605071E-20"
        ixz="1.11095497032909E-12"
        iyy="0.000344418079873377"
        iyz="-2.51195409677674E-13"
        izz="0.000352705009978737" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/high_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.850980392156863 0.850980392156863 0.850980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/high_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="high_joint_B"
    type="revolute">
    <origin
      xyz="0.035355 -0.015 0.054645"
      rpy="0 0 0" />
    <parent
      link="low_link_4" />
    <child
      link="high_link_3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
    <mimic
      joint="high_joint_A"
      multiplier="1"
      offset="0" />
  </joint>
  <link
    name="low_link_3">
    <inertial>
      <origin
        xyz="1.04083408558608E-17 -0.0325000000000005 0.0909999946980247"
        rpy="0 0 0" />
      <mass
        value="0.110507990252835" />
      <inertia
        ixx="0.000352705009978739"
        ixy="-2.51195392911515E-13"
        ixz="-1.11095494377249E-12"
        iyy="0.00034441807987338"
        iyz="-1.21039806702201E-20"
        izz="1.70763527628551E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.850980392156863 0.850980392156863 0.850980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arm_v2_description/meshes/low_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="low_joint_B"
    type="revolute">
    <origin
      xyz="-0.010784 0.0325 0.11128"
      rpy="0 0 0" />
    <parent
      link="low_link_1" />
    <child
      link="low_link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
    <mimic
      joint="low_joint_A"
      multiplier="1"
      offset="0" />
  </joint>
</robot>
